#maintenance{
    width: 100vw;
    background-color: #fff;
}
.wrap{
    margin:  0 auto;
    width: 70vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
}
.input{
    width: 50vw;
    height: 4vh;
}
.button{
    width: 5vw;
    height: 3vh;
    margin-left: 6vw;
}